.home-page {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.group-main {
  width: 25%;
  min-width: 310px;
  height: 100%;
}

.notes-main {
  height: 100%;
  width: 75%;
  background-color: #dae5f5;
}

@media screen and (max-width: 800px) {
  .group-main {
    width: 100%;
    display: none;
  }

  .notes-main {
    width: 100%;
  }
}
