.group-container {
  overflow-y: hidden;
  height: 100vh;
}

.group-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: larger;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 25%;
  position: fixed;
}

.group-name {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  overflow-y: auto;
  height: 87%;
}

.group-name::-webkit-scrollbar {
  width: 8px;
}

.group-name::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 6px;
}

.group-name::-webkit-scrollbar-track {
  background-color: rgb(169, 168, 168);
  border-radius: 6px;
}

.group-name-data {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.plus-button {
  color: #16008b;
  font-size: 2.5rem;
  position: fixed;
  bottom: 2rem;
  left: 15rem;
  cursor: pointer;
}

.modal-main {
  background-color: white;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 35%;
  top: 35%;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.modal-header,
.groupname-label,
.groupcolor-label {
  font-size: large;
  text-align: center;
}

.groupname-input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.5rem;
}

.groupcolor-input {
  display: flex;
  gap: 0.5rem;
}

.groupname-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.groupcolor-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.create-button-main {
  text-align: end;
  width: 100%;
}

.create-button {
  background-color: #001f8b;
  color: white;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
  .modal-main {
    width: 100%;
    left: 0;
  }

  .group-header {
    width: 100%;
  }

  .plus-button {
    left: 85%;
  }

  .create-button-main {
    text-align: center;
  }
}
