.header {
  height: 8%;
  background-color: #001f8b;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: small;
  gap: 0.4rem;
}

.back-icon {
  display: none;
}

.notes-section {
  height: 70%;
}

.footer-section {
  height: 19.5%;
  background-color: #001f8b;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.notes-input {
  min-height: 8vh;
  min-width: 90%;
  max-height: 8vh;
  max-width: 90%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.notes-input::-webkit-scrollbar {
  display: none;
}

/* notes default */
.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.notes-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-image {
  width: 30rem;
}

.notes-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.notes-para {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: medium;
  display: grid;
  place-items: center;
  margin: 0;
  width: 50%;
  text-align: justify;
}

.notes-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .back-icon {
    display: block;
    font-size: x-large;
  }
}

@media screen and (max-width: 600px) {
  .notes-image {
    width: 20rem;
  }

  .notes-input {
    min-width: 60%;
    max-width: 60%;
  }
}
