.header {
  height: 8%;
  background-color: #001f8b;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: small;
  gap: 0.4rem;
}

.back-icon {
  display: none;
}

.notes-section {
  height: 65%;
  width: 100%;
  overflow-y: auto;
}

.notes-section::-webkit-scrollbar {
  width: 8px;
}

.notes-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
}

.notes-section::-webkit-scrollbar-track {
  background-color: rgb(169, 168, 168);
  border-radius: 6px;
}

.notes-data-section {
  width: 90%;
  float: right;
  margin-inline: 1rem;
}

.notes-datastore {
  border-radius: 4px;
  background-color: #ffffff;
}

.notes-data {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  box-sizing: border-box;
}

.notes-timestamp {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: small;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

.time-dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  margin-inline: 0.7rem;
}

.footer-section {
  height: 19.5%;
  position: absolute;
  width: 75%;
  bottom: 0;
  background-color: #001f8b;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.notes-input {
  min-height: 8vh;
  min-width: 90%;
  max-height: 8vh;
  max-width: 90%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.notes-input::-webkit-scrollbar {
  display: none;
}

.send-icon {
  color: #001f8b;
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-size: larger;
  background-color: transparent;
  border: none;
}

/* notes default */
.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.notes-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-image {
  width: 30rem;
}

.notes-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.notes-para {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: medium;
  display: grid;
  place-items: center;
  margin: 0;
  width: 50%;
  text-align: justify;
}

.notes-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .footer-section {
    width: 100%;
  }

  .back-icon {
    display: block;
    font-size: x-large;
  }
}

@media screen and (max-width: 600px) {
  .notes-image {
    width: 20rem;
  }

  .notes-input {
    min-width: 80%;
    max-width: 80%;
  }
}
